* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: "Comfortaa", sans-serif;
}

ul{
    height: 80px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    font-size: 20px;
}

li:hover {
    color: #fff;
    font-size: 25px;
    transition: all 200ms linear;
    text-decoration: underline;
}

.menu{
    color:#022712 ;
    background-color: #4c7841;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20vw;
    border: none;
    border: 2px solid #4c7841;
    color: #709a63;
    font-size: 18px;
    font-weight: bold;
    background-color: #b7dda7;
    transition: all 200ms linear;
    width: 250px;

}

button:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    cursor: pointer;
}

/* -------------------------------------------------- SEÇÃO 01 --------------------------------------------- */
#section01 {
    background-color: #b4ceac;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    height: auto;
    padding-top: 150px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.section01-left-div {
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 999px;
    transition: all 200ms linear;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
}

.section01-right-div {
    width: 800px;
    height: 500px;
    flex-direction: column;
    align-items: left;
}

.section01-right-div > h2{
    color: #022712;
    
}

.section01-right-div > p{
    color: #4c7841;
}

.img-style-section01 {
    width: 500px;
    height: 500px;
    transition: all 200ms linear;

}

.img-style-section01:hover {
    transform: scale(1.2);
    transition: all 200ms linear;
    cursor: crosshair;
    filter: grayscale(0);
}

/* -------------------------------------------------- SEÇÃO 02 --------------------------------------------- */

#section02 {
    width: 100%;
    height: auto;
    padding-bottom: 80px;
    padding-top: 80px;
    background-color: #4c7841;
    color: #daffc9;
 
 }

 .wrap-recicla{
    width: 100%;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 50px;
    flex-wrap: wrap;
 }

 .wrap-recicla > div{
    background-color: #b7dda7;
    color: #4c7841;
    width: 300px;
    height: auto;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: #4c7841 10px 5px 15px;
 }

 .section02-title{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

/* -------------------------------------------------- SEÇÃO 03 --------------------------------------------- */

#section03 {
    color:  #b4ceac;
    background: rgb(16, 59, 32);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    padding-top: 150px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(../assets/images/img02.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.section03-div {
    width: 800px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}

.section03-div p {
    margin-top: 20px;
    font-size: 20px;

}

.b03 {
    background-color: transparent;
    margin-top: 70px;
    display: flex;
    width: 400px;
    padding: 20px 30px;
    border:  #b4ceac ;
    border: 2px solid  #b4ceac;
    border-radius: none;
    color:  #b4ceac;
    font-size: 18px;
    font-weight: bold;
    transition: all 200ms linear;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
}

/* -------------------------------------------------- SEÇÃO 04  --------------------------------------------- */
#section04 {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding-top: 80px;
    padding-bottom: 80px;
    flex-wrap: wrap;
    background: linear-gradient(179.1deg, rgb(43, 170, 96) 2.3%, rgb(129, 204, 104) 98.3%);
}
.heading-contact {
    width: 100%;
    text-align: center;
}

.left-contact {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 20px;


}

.right-contact {
    width: auto;
    height: 300px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 20px;

}

#nome,
#mensagem {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1vw;
    width: 250px;
}


/* -------------------------------------------------- FOOTER  --------------------------------------------- */
footer{
    background-color: #022712;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding-top: 1rem;
    padding-bottom: 1rem ;
}

footer > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

footer > a > img:hover{
    transform: rotate(360deg);
    opacity: 1;
    transition: all 500ms linear;
}

@media (width <=600px) {
    .section01-left-div {
        width: 300px;
        height: 300px;
    }

    .img-style-section01 {
        width: 300px;
    }

    .l01 {
        width: 100%;
        text-align: center;
    }

    .p01 {
        width: 100%;
        text-align: center;
    }

    .section03-div{
        width: 300px;
    }

    .l03 {
        width: 100%;
        text-align: center;
    }

    .p03 {
        width: 100%;
        text-align: center;
    }

    .b03 {
        width: 100%;
        text-align: center;

    }

    ul {
        gap: 2vw;
        font-size: 16px;
    }

    #section04 {
        gap: 3vh;
    }

    .right-contact {
        width: 80%;
        min-width: 80%;
        max-width: 80%;
    }

    .text {
        width: 200px;
        max-height: auto;
    }
}
